In [9]:
from pyspark import SparkContext,HiveContext
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.window import Window

print ("Lets start the question")

Lets start the question

In [13]:
'''
Q2:Find name, id etc. of 10 worst performing players based on overall_rating
'''


player_att_newDf = sqlContext.sql( ''' select player_api_id,avg_rating,row_number() over(order by avg_rating) as 
over_all_rnk from (
select avg(overall_rating) as avg_rating,player_api_id from fujitsu.player_att_new group by player_api_id ) 
innerQuery ''').cache()

playerDf =sqlContext.sql( ''' select * from fujitsu.player ''').cache()

In [16]:

tenPlyaerDetlDf = player_att_newDf.where(col('over_all_rnk') <11).join(playerDf,'player_api_id').sort('over_all_rnk')

In [19]:
tenPlyaerDetlDf.drop('id').show()

+-------------+------------------+------------+------------------+------------------+-------------------+--------+------+
|player_api_id|        avg_rating|over_all_rnk|       player_name|player_fifa_api_id|           birthday|  height|weight|
+-------------+------------------+------------+------------------+------------------+-------------------+--------+------+
|        67396|              43.0|           1|   Frederic Schaub|            188125|1987-04-30 00:00:00|180.3400|   154|
|       177471|             43.75|           2| Gianluca D'Angelo|            193409|1991-03-13 00:00:00|175.2600|   139|
|       107416|              45.0|           3|     Badis Lebbihi|            183279|1990-03-14 00:00:00|180.3400|   176|
|       112561|              45.2|           4|  Boubacar Mansaly|            188288|1988-02-04 00:00:00|175.2600|   150|
|       127141|              45.5|           5|Jordan Kirkpatrick|            193658|1992-03-06 00:00:00|175.2600|   165|
|       107283|              46.0|           6|       Liam Hughes|            186424|1988-09-11 00:00:00|177.8000|   150|
|        22343|              46.0|           7|  Benjamin Fischer|            144071|1980-10-19 00:00:00|175.2600|   157|
|       614951|              47.0|           8|       Robin Huser|            224819|1998-01-24 00:00:00|180.3400|   154|
|        42149|              47.0|           9|   Florian Berisha|            179976|1990-01-18 00:00:00|170.1800|   143|
|       177472|47.333333333333336|          10|         Enzo Ruiz|            193406|1988-08-31 00:00:00|182.8800|   172|
+-------------+------------------+------------+------------------+------------------+-------------------+--------+------+