In [33]:
from pyspark import SparkContext,HiveContext
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.window import Window
from datetime import datetime

print ("All good lets Go")

All good lets Go

In [1]:
#sc = SparkContext(appName="Aml Markets DQ ")
countryRdd = sc.textFile("/user/data/fujitsu/Country.txt").map(lambda x: x.split("\t")).filter(lambda x : x[0] !='id')
countryRdd.take(5)
#countrySplitRdd = countryRdd.map(lambda x : x.split("\t")).filter(lambda x : x[0] !='id')
#countrySplitRdd.take(5)

[[u'1', u'Belgium'],
 [u'1729', u'England'],
 [u'4769', u'France'],
 [u'7809', u'Germany'],
 [u'10257', u'Italy']]

In [2]:
def buildCountrySchema():
    print("Schema Creation for Country Is completed")
    schema = StructType(
        [
            StructField("id" ,StringType(),True),
            StructField("name",StringType(),True)
        ]
    )
    return schema

In [58]:
df =sqlContext.createDataFrame(countrySplitRdd,schema=buildCountrySchema())
#hist_df = sqlContext.createDataFrame(histrawInputSplit, schema=build_schema())
df.show()

Schema Creation for Country Is completed
+-----+-----------+
|   id|       name|
+-----+-----------+
|    1|    Belgium|
| 1729|    England|
| 4769|     France|
| 7809|    Germany|
|10257|      Italy|
|13274|Netherlands|
|15722|     Poland|
|17642|   Portugal|
|19694|   Scotland|
|21518|      Spain|
|24558|Switzerland|
+-----+-----------+

In [60]:
sqlContext.sql(''' create database Fujitsu location '/user/data/fujitsu'  ''')

DataFrame[result: string]

In [66]:
sqlContext.sql(''' use Fujitsu ''')
sqlContext.sql(''' create table IF NOT EXISTS country ( ID int, name varchar(30)) stored as parquet ''')
sqlContext.sql( ''' select * from Fujitsu.country''').show()

+---+----+
| id|name|
+---+----+
+---+----+

In [67]:
df.write.insertInto("Fujitsu.country")

In [68]:
sqlContext.sql( ''' select * from Fujitsu.country''').show()

+-----+-----------+
|   id|       name|
+-----+-----------+
|    1|    Belgium|
| 1729|    England|
| 4769|     France|
| 7809|    Germany|
|10257|      Italy|
|13274|Netherlands|
|15722|     Poland|
|17642|   Portugal|
|19694|   Scotland|
|21518|      Spain|
|24558|Switzerland|
+-----+-----------+