In [1]:
from pyspark import SparkContext,HiveContext
from pyspark.sql.types import *
from pyspark.sql.functions import *
from datetime import datetime

print ("lets start for ")

lets start for

In [24]:
leagueRdd = sc.textFile("/user/data/fujitsu/League.txt").map(lambda x : x.split("\t")).filter(lambda x : str(x[0]) !='id')
leagueRdd.take(5)

[[u'1', u'1', u'Belgium Jupiler League'],
 [u'1729', u'1729', u'England Premier League'],
 [u'4769', u'4769', u'France Ligue 1'],
 [u'7809', u'7809', u'Germany 1. Bundesliga'],
 [u'10257', u'10257', u'Italy Serie A']]

In [9]:
def buildSchemaLeague():
    print ("Schema Createion Started")
    schema = StructType( 
        [
            StructField("id", StringType(),True),
            StructField("country_id", StringType(),True),
            StructField("name", StringType(),True)
        
        ]
    )
    print ("Schema Createion Completed")
    return schema

In [25]:
df = sqlContext.createDataFrame(leagueRdd,schema=buildSchemaLeague())
df.show()

Schema Createion Started
Schema Createion Completed
+-----+----------+--------------------+
|   id|country_id|                name|
+-----+----------+--------------------+
|    1|         1|Belgium Jupiler L...|
| 1729|      1729|England Premier L...|
| 4769|      4769|      France Ligue 1|
| 7809|      7809|Germany 1. Bundes...|
|10257|     10257|       Italy Serie A|
|13274|     13274|Netherlands Eredi...|
|15722|     15722|  Poland Ekstraklasa|
|17642|     17642|Portugal Liga ZON...|
|19694|     19694|Scotland Premier ...|
|21518|     21518|     Spain LIGA BBVA|
|24558|     24558|Switzerland Super...|
+-----+----------+--------------------+

In [26]:
sqlContext.sql("use fujitsu")
sqlContext.sql("create table IF NOT EXISTS league (id int,country_id int, name varchar(50) ) stored as parquet")
sqlContext.sql("select * from league").show()

+---+----------+----+
| id|country_id|name|
+---+----------+----+
+---+----------+----+

In [27]:
df.write.insertInto('fujitsu.league')

In [28]:
sqlContext.sql( ''' select * from fujitsu.league limit 10 ''').show()

+-----+----------+--------------------+
|   id|country_id|                name|
+-----+----------+--------------------+
|    1|         1|Belgium Jupiler L...|
| 1729|      1729|England Premier L...|
| 4769|      4769|      France Ligue 1|
| 7809|      7809|Germany 1. Bundes...|
|10257|     10257|       Italy Serie A|
|13274|     13274|Netherlands Eredi...|
|15722|     15722|  Poland Ekstraklasa|
|17642|     17642|Portugal Liga ZON...|
|19694|     19694|Scotland Premier ...|
|21518|     21518|     Spain LIGA BBVA|
+-----+----------+--------------------+